@import 'themes.less';
@import 'mixin.less';
/** *************************************************************************************************/
/** ***************************************dialog动画***************************************************/
/** *************************************************************************************************/
.slide-center-leave-active,
.slide-center-enter-active,
.slide-scale-leave-active,
.slide-scale-enter-active{
  transition: all 0.28s;
}
.slide-center-enter-active{
  opacity: 0;
}
.slide-center-enter-to {
  opacity: 1;
}
.slide-center-leave-to {
  opacity: 0;
}
.slide-scale-leave-to {
  transform: scale(0.8);
}
.slide-scale-enter-active {
  transform: scale(0.8);
}
.slide-scale-enter-to {
  transform: scale(1);
}
.swing-top-leave-active{
  transition: all .5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  transform: rotateX(0deg);
  opacity: 1;
}
.swing-top-leave-to {
  transform: rotateX(-100deg);
  opacity: 0;
}
.swing-top-enter-active {
  transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transform: rotateX(-100deg);
  opacity: 0;
}
.swing-top-enter-to {
  transform: rotateX(0deg);
  opacity: 1;
}

/** *************************************************************************************************/
/** ***************************************滚动条***************************************************/
/** *************************************************************************************************/
.custom-scroll {
  overflow: auto;
}
.custom-scroll::-webkit-scrollbar {
  width: 0.1rem;
}
.custom-scroll::-webkit-scrollbar-thumb {
  width: 0.1rem;
  border-radius: 0.05rem;
  .mixin-background-base('base-compared-bgc');
}
.custom-scroll::-webkit-scrollbar-track {
  width: 0.1rem;
  .mixin-background-base('onlinecode-header-boxshac');
  border-radius: 0.05rem;
}

/** *************************************************************************************************/
/** ***************************************遮罩模糊化***************************************************/
/** *************************************************************************************************/
.show-blur{
  filter: blur(5px);
}

/** *************************************************************************************************/
/** ***************************************关闭按钮***************************************************/
/** *************************************************************************************************/
.close-i{
  position: relative;
  text-align: center;
  color: white;
  border: 1px solid;
  .mixin-border-color('base-out-buttonborder-color');
  .mixin-bgibutton-color('base-out-button', 'base-backgroud-color');
  &:after, &:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    transition: 0.3s;
    opacity: 0;
    .mixin-background-color('base-out-button-color');
  }
  &:before {
    width: 50%;
    height: 2px;
  }
  &::after{
    width: 2px;
    height: 50%;
  }
  &:hover{
    &::before, &::after{
      opacity: 1;
    }
  }
}
/** *************************************************************************************************/
/** ***************************************底部按钮***************************************************/
/** *************************************************************************************************/
.foot-buttons{
  display: flex;
  justify-content: flex-end;
}

/** *************************************************************************************************/
/** ***************************************title样式***************************************************/
/** *************************************************************************************************/
.v-title-content{
  position: absolute;
  z-index: 2000;
  padding: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  font-size: 14px;
  color: #6a6a6a;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.3), 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
