@themeList: 'normal';

/** *************************************************************************************************/
/** ***************************************normal主题***************************************************/
/** *************************************************************************************************/
// 最基础属性
@base-font-color-normal: #333;
@base-backgroud-color-normal: #fff;
@base-compared-bgc-normal: #f1f1f1;
@base-border-color-normal: #f2f2f2;
@base-dialog-bgc-normal: rgba(0, 0, 0, 0.1);
@base-symbol-color-normal: #1890ff;
@base-symbol-bcolor-normal: #f6f6f6;
@base-symbol-ocolor-normal: #b2c8bb;
@base-out-button-normal: #fd5d5d;
@base-out-button-color-normal: #fff;
@base-out-buttonborder-color-normal: #cdcdcd;
@base-button-info-color-normal: #b4b4b4;

// OnlineCode
@onlinecode-moveline-bgc-normal: #eaecef;
@onlinecode-moveline-borc-normal: #d0d0d0;
@onlinecode-head-boxshac-normal: #f3f1f1;
@onlinecode-head-color-normal: #7f7f7f;
@onlinecode-header-boxshac-normal: rgba(0, 0, 0, 0.1);

// ThemeChange
@theme-change-dia-bgc-normal: #fff;
