@themeList: 'normal','lightShade','dark','dracula','chrome','eye-care';

/** *************************************************************************************************/
/** ***************************************normal主题***************************************************/
/** *************************************************************************************************/
// 最基础属性
@base-font-color-normal: #333;
@base-backgroud-color-normal: #fff;
@base-compared-bgc-normal: #f1f1f1;
@base-border-color-normal: #f2f2f2;
@base-dialog-bgc-normal: rgba(0, 0, 0, 0.1);
@base-symbol-color-normal: #1890ff;
@base-symbol-bcolor-normal: #f6f6f6;
@base-symbol-ocolor-normal: #b2c8bb;
@base-out-button-normal: #fd5d5d;
@base-out-button-color-normal: #fff;
@base-out-buttonborder-color-normal: #cdcdcd;
@base-button-info-color-normal: #b4b4b4;

// OnlineCode
@onlinecode-moveline-bgc-normal: #eaecef;
@onlinecode-moveline-borc-normal: #d0d0d0;
@onlinecode-head-boxshac-normal: #f3f1f1;
@onlinecode-head-color-normal: #7f7f7f;
@onlinecode-header-boxshac-normal: rgba(0, 0, 0, 0.1);

// ThemeChange
@theme-change-dia-bgc-normal: #efefef;


/** *************************************************************************************************/
/** ***************************************lightShade主题***************************************************/
/** *************************************************************************************************/
// 最基础属性
@base-font-color-lightShade: #E6E1DC;
@base-backgroud-color-lightShade: #3d3d3d;
@base-compared-bgc-lightShade: #777;
@base-border-color-lightShade: #4d4d4d;
@base-dialog-bgc-lightShade: rgba(0, 0, 0, 0.22);
@base-symbol-color-lightShade: #fa8d6a;
@base-symbol-bcolor-lightShade: #F8F8F8;
@base-symbol-ocolor-lightShade: #e2bbac;
@base-out-button-lightShade: #ff5757;
@base-out-button-color-lightShade: #E6E1DC;
@base-out-buttonborder-color-lightShade: #4d4d4d;
@base-button-info-color-lightShade: #b4b4b4;

// OnlineCode
@onlinecode-moveline-bgc-lightShade: #777;
@onlinecode-moveline-borc-lightShade: #4d4d4d;
@onlinecode-head-boxshac-lightShade: #3D3D3D;
@onlinecode-head-color-lightShade: #a8a8a8;
@onlinecode-header-boxshac-lightShade: #9e9ba0;

// ThemeChange
@theme-change-dia-bgc-lightShade: #494949;

/** *************************************************************************************************/
/** ***************************************dark主题***************************************************/
/** *************************************************************************************************/
// 最基础属性
@base-font-color-dark: #E2E2E2;
@base-backgroud-color-dark: #232323;
@base-compared-bgc-dark: rgba(221, 240, 255, 0.20);
@base-border-color-dark: #A7A7A7;
@base-dialog-bgc-dark: rgba(0, 0, 0, 0.22);
@base-symbol-color-dark: #CF6A4C;
@base-symbol-bcolor-dark: #F8F8F8;
@base-symbol-ocolor-dark: #ffc079;
@base-out-button-dark: #F9EE98;
@base-out-button-color-dark: #7d603d;
@base-out-buttonborder-color-dark: #494949;
@base-button-info-color-dark: #b4b4b4;

// OnlineCode
@onlinecode-moveline-bgc-dark: #494949;
@onlinecode-moveline-borc-dark: #4d4d4d;
@onlinecode-head-boxshac-dark: #141414;
@onlinecode-head-color-dark: #A7A7A7;
@onlinecode-header-boxshac-dark: #7587A6;

// ThemeChange
@theme-change-dia-bgc-dark: #2D2D2D;

/** *************************************************************************************************/
/** ***************************************dracula主题***************************************************/
/** *************************************************************************************************/
// 最基础属性
@base-font-color-dracula: #f8f8f2;
@base-backgroud-color-dracula: #44475a;
@base-compared-bgc-dracula: rgba(221, 240, 255, 0.20);
@base-border-color-dracula: #9188a3;
@base-dialog-bgc-dracula: rgba(0, 0, 0, 0.22);
@base-symbol-color-dracula: #ff84cc;
@base-symbol-bcolor-dracula: #F8F8F8;
@base-symbol-ocolor-dracula: #ffc079;
@base-out-button-dracula: #b9eefd;
@base-out-button-color-dracula: #44475a;
@base-out-buttonborder-color-dracula: #6272a4;
@base-button-info-color-dracula: rgb(144,145,148);

// OnlineCode
@onlinecode-moveline-bgc-dracula: #6f6282;
@onlinecode-moveline-borc-dracula: #4d4d4d;
@onlinecode-head-boxshac-dracula: #44475a;
@onlinecode-head-color-dracula: #d9d9d2;
@onlinecode-header-boxshac-dracula: #7587A6;

// ThemeChange
@theme-change-dia-bgc-dracula: #4d4e5e;

/** *************************************************************************************************/
/** ***************************************chrome主题***************************************************/
/** *************************************************************************************************/
// 最基础属性
@base-font-color-chrome: #333;
@base-backgroud-color-chrome: #fff;
@base-compared-bgc-chrome: #ebebeb;
@base-border-color-chrome: #e8e8e8;
@base-dialog-bgc-chrome: rgba(0, 0, 0, 0.1);
@base-symbol-color-chrome: #1A1AA6;
@base-symbol-bcolor-chrome: #f6f6f6;
@base-symbol-ocolor-chrome: #b2c8bb;
@base-out-button-chrome: rgb(255, 0, 0);
@base-out-button-color-chrome: #fff;
@base-out-buttonborder-color-chrome: #cdcdcd;
@base-button-info-color-chrome: #dcdcdc;

// OnlineCode
@onlinecode-moveline-bgc-chrome: #eaecef;
@onlinecode-moveline-borc-chrome: #dcdcdc;
@onlinecode-head-boxshac-chrome: #f3f1f1;
@onlinecode-head-color-chrome: #7f7f7f;
@onlinecode-header-boxshac-chrome: rgba(0, 0, 0, 0.1);

// ThemeChange
@theme-change-dia-bgc-chrome: #dcdcdc;


/** *************************************************************************************************/
/** ***************************************eye-care主题***************************************************/
/** *************************************************************************************************/
// 最基础属性
@base-font-color-eye-care: #333;
@base-backgroud-color-eye-care: #fbf1d3;
@base-compared-bgc-eye-care: #FDF6E3;
@base-border-color-eye-care: #ecdea4;
@base-dialog-bgc-eye-care: rgba(0, 0, 0, 0.1);
@base-symbol-color-eye-care: #B58900;
@base-symbol-bcolor-eye-care: #f1e5b3;
@base-symbol-ocolor-eye-care: #b2c8bb;
@base-out-button-eye-care: #D33682;
@base-out-button-color-eye-care: #fff;
@base-out-buttonborder-color-eye-care: #c1d1d5;
@base-button-info-color-eye-care: #dcdcdc;

// OnlineCode
@onlinecode-moveline-bgc-eye-care: #eadec5;
@onlinecode-moveline-borc-eye-care: #dcdcdc;
@onlinecode-head-boxshac-eye-care: #fbf1d3;
@onlinecode-head-color-eye-care: #7f7f7f;
@onlinecode-header-boxshac-eye-care: rgba(0, 0, 0, 0.1);

// ThemeChange
@theme-change-dia-bgc-eye-care: #ede5c7;

